<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>USCT Visualization</title>
  <meta name="description" content="USCT Visualization">
  <link href="css/usct.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/fav.png">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js" charset="utf-8"></script>
  <script src="/libs/threejs/build/three.min.js"></script>
  <script src="/libs/OrbitControls.js"></script>
  <script src="/libs/TrackballControls.js"></script>
  <script src="/libs/embeddedjs/ejs.js"></script>
  <script src="/tomo_raycaster2/build/volumeRaycaster.js"></script>
  <script src="usct.js"></script>
  
</head>

<body>
<svg id="main" xmlns="http://www.w3.org/2000/svg" xmlns:xhtml="http://www.w3.org/1999/xhtml"></svg>  

  
  
  <script type="text/javascript">
    usctVis({shader_name : "<%= shader_name %>",             
             l : "<%= l %>",
             s : "<%= s %>",
             hMin : "<%= hMin %>",
             hMax : "<%= hMax %>",
             minRefl : "<%= minRefl %>",
             minSos : "<%= minSos %>",
             minAtten : "<%= minAtten %>",  
             maxRefl : "<%= maxRefl %>", 
             maxSos : "<%= maxSos %>", 
             maxAtten : "<%= maxAtten %>",
             opacity_factor : "<%= opacity_factor %>", 
             color_factor : "<%= color_factor %>",
             xMin : "<%= xMin %>",
             yMin : "<%= yMin %>",
             zMin : "<%= zMin %>",  
             xMax : "<%= xMax %>", 
             yMax : "<%= yMax %>", 
             zMax : "<%= zMax %>"
            });
  </script>
</body>
</html>
